@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #fff;
  @apply bg-gradient-to-r from-[#0f0f10] to-[#161622];
}

input,
textarea {
  background-color: #161622;
}
